<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3> <%= @still.title %></h3>
  <pre>
    <%= @still.text %>
  </pre>
</body>
</html>
