<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @user.first_name %> </p>
    <p>Thanks for signing up</p>
    <p>Click the link to confirm</p>
    <%= confirm_email_user_url(@user.confirm_token) %>
  </body>
</html>
