<div class="container">
  <h1>Animations</h1>
  <% @animations.each do |animation| %>
      <h1>
        <%= link_to animation.title, user_animation_path(@user, animation) %>
      </h1>
  <% end %>
</div>
