<div class="container">
  <center>
    <div class="btnContainer">
        <h1  id="header">Welcome To Text Art Library</h1>
        <div class="buttonSizer">
          <button class="btn btn-primary btn-lg btn-block" class="welcomeBtn">
            <%= link_to("Sign Up", signup_path, :class=>"buttonLink") %>
          </button>
        </div>
        <br>
        <div class="buttonSizer">
          <button class="btn btn-primary btn-lg btn-block" class="welcomeBtn">
            <%= link_to("Login", login_path, :class=>"buttonLink") %>
          </button>
        </div>
    </div>
  <center>
</div>
