// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcomeBtn {
  color: red;
  padding: 20px;
  margin: 20px;
}

.buttonLink {
  color: white;
  text-decoration: none;
  padding: 20px;
  width: 300px;
}

.buttonLink:hover {
  color: white;
  text-decoration: none;
}

#login {
  padding: 20px;
}

#header {
  color: black;
  font-size: 75px;
  margin-bottom: 100px
}

.btnContainer {
  padding: 20px
}

.buttonSizer {
  width: 300px
}
